{% extends 'baseTemplates/base.html' %}
{% load custom_filters %}
{% block project_content %}
    <div class="row" style="margin-top: 100px;">
        <div class="col-10 push-1">
            <a class="btn btn-default" style="margin-left: 850px;">Export Logs</a>
            {% for upload_session, upload_data in completePaySlipsData.items%}
                <table class="table">
                    <thead class="grey">
                    <tr>
                        <th colspan="2" class="text-center">Uploaded Time : {{ upload_session|convertTimeToLocal }}</th>
                        <th colspan="2" class="text-center">No of records : {{ upload_data|length }}</th>
                    </tr>
                    </thead>
                    <thead>
                    <tr class="small">
                        <th>Employee Name</th>
                        <th>Employee Email-id</th>
                        <th>Uploaded Date</th>
                        <th>Department</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for each_payslip_info in upload_data %}
                        <tr class="small">
                            <td>{{ each_payslip_info.employeeName }}</td>
                            <td>{{ each_payslip_info.emailId }}</td>
                            <td>{{ each_payslip_info.uploadedDate }}</td>
                            <td>{{ each_payslip_info.department }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock project_content %}