{% extends 'baseTemplates/base.html' %}
{% block project_content %}
     <div class="container">
        <div class="row" style="margin-top: 150px;">
            <h4><a href="{% url 'dashboard-page' %}">Back to Dashboard</a></h4>
            <div class="col-lg-6 col-md-offset-3">
                <form id="bulk-payslips-upload-form">
                    <label for="userUpload">Select your file here</label>
                    <input type="file" name="paySlipsFile" id="pay-slips-file" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                    <a class="btn btn-lg btn-default upload-payslips-in-bulk" data-toggle="modal" data-target="#ajax-processing-modal" data-backdrop="static" data-id="bulk-payslips-upload-form">Send Payslips</a>
                </form>
            </div>
        </div>
    </div>
{% endblock project_content %}