{% extends 'baseTemplates/linkedFiles.html' %}
{% load staticfiles %}
{% block main_content %}
    {% include 'baseTemplates/modals.html' %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">Customfurnish-HR-Portal</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    {% if request.user.email %}
                        <ul>
                            <li>
                                <a href="#">Hi, {{ request.user.username }}</a>
                            </li>
                            <li>
                                <a href="{% url 'log-out' %}">Logout</a>
                            </li>
                        </ul>
                    {% endif %}
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    {% block project_content %}
    {% endblock project_content %}
    <footer>
        <p class="center-block">© 2016 Company, Inc.</p>
    </footer>
{% endblock main_content %}