{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body style="font-family: 'Roboto', sans-serif;">
<div style="width: 950px;">
        <h3 style="text-align: center;">Payslip for the month of {{ paySlipData.month|getPaySlipMonth }}, {{ paySlipData.year }}</h3>
    <p>Hi, {{ paySlipData.employeeName }}</p>
    <p>Your payslip for the month of {{  paySlipData.month|getPaySlipMonth }} is generated successfully. please find the attached document for your payslip.</p>
</div>
<footer style="margin-top: 50px;">
    <address>
        Regards,<br>
        <a href="mailto:praveen@customfurnish.com">B.Praveen Kumar,</a><br>
        HR and Admin,<br>
        Hinshitsu Manufacturing Pvt Ltd,<br>
        website : <a href="www.customfurnish.com">customfurnish.com.</a><br>
        Mobile : 8499981621
    </address>
</footer>
<hr>
{% block main_content %}
{% endblock main_content %}
</body>
</html>