{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}
{% block project_content %}
    <div class="row">
        {% if request.user.username %}
            <div class="col-lg-12 col-sm-12 align-self-center">
                <h1 class="light-content text-center" style="margin-top: 150px;">Welcome {{ request.user.username }}</h1>
                <h6 class="light-content text-center">Explore below actions</h6>
                <div class="text-center">
                    <a class="btn btn-lg btn-outline-default" href="{% url 'dashboard-page' %}"><i class="fa fa-clone left"></i> View Dashboard</a>
                    <a class="btn btn-lg btn-outline-default"><i class="fa fa-clone left"></i> Manage Profile</a>
                </div>
            </div>

        {% else %}
            <div class="col-lg-10 col-sm-12 align-self-center">
                <h3 class="light-content text-center" style="margin-top: 150px;">Please Login to get started..</h3>
                <div class="text-center">
                    <a class="btn btn-lg btn-outline-default" href="{% url 'sign-in' %}"><i class="fa fa-sign-in"></i>LOG-IN AS HR</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock project_content %}