{% load static %}
<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="modal fade" id="processingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h3 class="modal-title text-center" id="processingModalHeading"></h3>
                    <h5 class="text-center" id="processingModalMessage"></h5>
                    <img style="margin-left: 100px;" src="{% static 'img/ajax-loader (1).gif' %}" class="center-block">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="modal fade" id="errorModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center" id="errorModalHeading"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: red;" id="errorModalMessage"></p>
                    <p class="text-center" id="misc-error-msg-data"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="modal fade" id="successModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h4 class="text-center" style="color:green;" id="successModalHeading"></h4>
                    <h6 class="text-center" id="successModalMessage"></h6>
                </div>
            </div>
        </div>
    </div>
</div>