{% load static %}
<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="modal fade" id="processingModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h3 class="modal-title text-center" id="processingModalHeading"></h3>
                    <h5 class="text-center" id="processingModalMessage"></h5>
                    <img style="margin-left: 100px;" src="{% static 'img/ajax-loader (1).gif' %}" class="center-block">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="modal fade" id="errorModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center" id="errorModalHeading"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: red;" id="errorModalMessage"></p>
                    <p class="text-center" id="misc-error-msg-data"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="font-family: 'Roboto', sans-serif;">
    <div class="modal fade" id="successModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <h4 class="text-center" style="color:green;" id="successModalHeading"></h4>
                    <h6 class="text-center" id="successModalMessage"></h6>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="fieldsInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead align-self-center mx-lg-auto">Mandatory and exemption fields info</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="red-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-center" style="text-decoration: underline">MANDATORY FIELDS</p>
                        <ul class="list-group">
                            {% for each_field in requiredFields.mandatoryFields %}
                                <li class="list-group-item"><p class="large">{{ each_field }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p class="text-center" style="text-decoration: underline">EXEMPTION FIELDS</p>
                        <ul class="list-group">
                            {% for each_field in requiredFields.exemptionFields %}
                                <li class="list-group-item"><p class="tiny">{{ each_field }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!--Footer-->
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="emailPreviewModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header success-color">
                <h1 class="heading lead medium-content">Successfully Analyzed the data. Ready For Review</h1>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="red-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-1 animated rotateIn"></i>
                    <p class="light-content">Data is ready to review. please click below button to review the payslips before sending it to the recipients</p>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <input type="hidden" id="payslipPreview" name="emails-preview-data">
                <a type="submit" class="btn btn-outline-default see-preview" >Show Preview<i class="fa fa-diamond ml-1"></i></a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Central Modal Medium Success-->

<div class="modal fade" id="paySlipPreviewModal">
    <div class="modal-info modal-fluid" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body mx-lg-auto" id="paySlipPreviewBody">
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>