{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">

    <meta name="viewport" content="width=device-width, initial-scale=1">
{#    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">#}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body style="font-family: 'Roboto', sans-serif;">
<div style="width: 950px;">
    <div style="">
        {#        <img src="{% static 'img/custom-furnish.png' %}" style="margin-left:20px;float: left">#}
{#        <img src="http://d3cc34wxvev8pg.cloudfront.net/static/images/miscellaneous/custom-furnish.png" style="margin-left:20px;float: left">#}
        <h3 style="margin-left: 300px;">{{ companyDetails.NameOfTheOrganization }}</h3>
        <p style="margin-left: 300px; text-align: justify;">{{ companyDetails.AddressOfTheOrganization }}</p>
    </div>
    <div>
{#        <h3 style="text-align: center; margin-top: 80px;">Payslip for the month of {{ "currentMonth"|getPaySlipDate }}</h3>#}
        <h3 class="text-center">Payslip for the month of {{ "currentMonth"|getPaySlipDate }}</h3>
    </div>

    <div style="">
        <table style="width: 100%;">
            <tr>
                <th colspan="4" style="text-align: center">Employee Basic Details</th>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{ paySlipData.basicDetails|getValue:"employee name" }}</td>
                <td>Employee No:</td>
                <td>{{ paySlipData.basicDetails|getValue:"employee number" }}</td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td>{{ paySlipData.basicDetails|getValue:"designation" }}</td>
                <td>Bank Name:</td>
                <td>{{ paySlipData.basicDetails|getValue:"bank Name" }}</td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>{{ paySlipData.basicDetails|getValue:"department"}}</td>
                <td>Bank Acc No:</td>
                <td>{{ paySlipData.basicDetails|getValue:"bankAccNo"}}</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>{{ paySlipData.basicDetails|getValue:"location"}}</td>
                <td>PAN No:</td>
                <td>{{ paySlipData.basicDetails|getValue:"panNo"}}</td>
            </tr>
            <tr>
                <td>Effective Work Days:</td>
                <td>{{ paySlipData.basicDetails|getValue:"effectiveWorkDays"}}</td>
                <td>PPF No:</td>
                <td>{{ paySlipData.basicDetails|getValue:"ppfNo"}}</td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 50px;">
        <table style="float: left;">
            <tr>
                <th colspan="2" style="text-align: center">Earnings(IN INR)</th>
            </tr>
            {% for key, value in paySlipData.grossEarnings.items %}
                <tr style="background-color:white;">
                    <td>{{ key|upper }}</td>
                    <td>{{ value }}</td>
                <tr>
            {% endfor %}
            <tr style="background-color: #dddddd;">
                <td><b>TOTAL EARNINGS(Rs)</b></td>
                <td><b>{{ paySlipData.totalEarnings }}</b></td>
            </tr>
        </table>
        <table style="">
            <tr>
                <th colspan="2" style="text-align: center">Deductions(IN INR)</th>
            </tr>
            {% for key, value in paySlipData.deductions.items %}
                <tr style="background-color:white;">
                    <td>{{ key|upper }}</td>
                    <td>{{ value }}</td>
                <tr>
            {% endfor %}
            <tr style="background-color: #dddddd;">
                <td><b>TOTAL DEDUCTIONS(Rs)</b></td>
                <td><b>{{ paySlipData.totalDeductions }}</b></td>
            </tr>
        </table>
    </div>
    <div>
        <table style="float:left;">
            <tr>
                <td colspan="2" style="text-align: center"><b>TOTAL NET PAY(Rs)</b></td>
            </tr>
        </table>
        <table>
            <tr>
                <td colspan="2" style="text-align: right;"><b>{{ paySlipData.totalNetPay }}</b></td>
            </tr>
        </table>
    </div>
    <div>
        <p><b>Total net pay is {{ paySlipData.totalNetPay }} Rs. ({{ paySlipData.totalNetPay|convertToWords }})</b></p>
    </div>
    <hr>
    <div>
        <p style="text-align: center;margin-top: 10px;">*This is system generated payslip, and does not require signature</p>
    </div>
</div>
{% block main_content %}
{% endblock main_content %}
</body>
</html>