

<!DOCTYPE html>
<html>
<head lang="en">

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <style>
        table {

            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body style="font-family: 'Roboto', sans-serif;">
<div style="width: 950px;">
    <div style="">

        <img src="/home/srikanthmv/payslipsProject/payslipsproject/static/img/custom-furnish.png" style="margin-left:20px;float: left">
        <h3 style="margin-left: 300px;">HINSHITSU MANUFACTURING PVT LTD</h3>
        <p style="margin-left: 300px; text-align: justify;">GSR Estates, D Block,II Floor, H No : 11-6-56,Sr No 257&amp;258/1,IDPL Railway Sliding Road, Moosapat ,Kukatpally ,Hyderabad.</p>
    </div>
    <div>
        <h4 style="text-align: center; margin-top: 80px;">Payslip for the month of April 5, 2017</h4>
    </div>

    <div style="">
        <table>
            <tr>
                <th colspan="4" style="text-align: center">Employee Basic Details</th>
            </tr>
            <tr>
                <td>Name:</td>
                <td>mv srikanth</td>
                <td>Employee No:</td>
                <td>Not Provided</td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td>software developer</td>
                <td>Bank Name:</td>
                <td>Not Provided</td>
            </tr>
            <tr>
                <td>Department:</td>
                <td>IT</td>
                <td>Bank Acc No:</td>
                <td>Not Provided</td>
            </tr>
            <tr>
                <td>Location:</td>
                <td>Not Provided</td>
                <td>PAN No:</td>
                <td>Not Provided</td>
            </tr>
            <tr>
                <td>Effective Work Days:</td>
                <td>Not Provided</td>
                <td>PPF No:</td>
                <td>Not Provided</td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 50px;">
        <table>
            <tr>
                <th colspan="2" style="text-align: center">Earnings</th>
            </tr>

                    <tr style="background-color:white;">
                        <td>cug</td>
                        <td>0</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>income tax</td>
                        <td>1523</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>other deductions</td>
                        <td>1800</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>arrears esi deduction</td>
                        <td>0</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>provident fund</td>
                        <td>1800</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>prof tax</td>
                        <td>200</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>salary advance</td>
                        <td>0</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>lwf</td>
                        <td>0</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>arrears pf deduction</td>
                        <td>0</td>
                    <tr>

                    <tr style="background-color:white;">
                        <td>esi</td>
                        <td>0</td>
                    <tr>

        </table>
    </div>
</div>


</body>
</html>