{% extends 'baseTemplates/base.html' %}
{% load staticfiles %}
{% block project_content %}
    <div class="container">
        <div class="row login-form-row">
            <div class="col-sm-6 push-3">
                <!--Form with header-->
                <div class="card">
                    <div class="card-block">

                        <!--Header-->
                        <div class="form-header  unique-color">
                            <h3 class="medium-content"><i class="fa fa-lock"></i> HR - Login</h3>
                        </div>

                        <!--Body-->
                        <div class="md-form regular-content">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" placeholder="Your username" id="form2" class="form-control user-name-field">
                        </div>

                        <div class="md-form regular-content">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" placeholder="Your password" id="form4" class="form-control password-field">
                        </div>

                        <div class="text-center regular-content">
                            <a class="btn primary-color admin-login">Login</a>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer">
                        <div class="options">
                            <p>Not a member? <a href="#">Sign Up</a></p>
                            <p>Forgot <a href="#">Password?</a></p>
                        </div>
                    </div>

                </div>
                <!--/Form with header-->

            </div>
        </div>
    </div>
{% endblock project_content %}