{% extends 'baseTemplates/base.html' %}
{% block project_content %}
    <div class="container set-height">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-users fa-4x align-self-center img-fluid card-icon-image" aria-hidden="true"></i>
                    <!--/.Card image-->

                    <!--Button-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <a class="card-title unique-text light-content text-center" href="#"><h4>Add users in bulk</h4></a>
                        <hr>
                        <!--Text-->
                        <p class="card-text">you can upload a file which contains all the users information that can be imported directly into the system.</p>
                        <p class="card-text text-center medium-content">(OR)</p>
                    </div>
                    <div class="card-block">
                        <div class="text-center regular-content">
                            <a class="btn btn-outline-default">Add Single User</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-send fa-4x align-self-center img-fluid card-icon-image" aria-hidden="true"></i>
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <a class="card-title unique-text light-content text-center" href="{% url 'user-payslips-upload' %}"><h4>Send payslips in bulk</h4></a>
                        <hr>
                        <!--Text-->
                        <p class="card-text">you can upload a file which contains all the users information about payslips that can be sent directly into the users email.</p>
                        <p class="card-text text-center medium-content">(OR)</p>
                    </div>
                    <div class="card-block">
                        <div class="text-center regular-content">
                            <a class="btn btn-outline-default">Send payslip to single user</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <i class="fa fa-history fa-4x align-self-center img-fluid card-icon-image" aria-hidden="true"></i>
                    <!--/.Card image-->

                    <!--Button-->

                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <a class="card-title unique-text light-content text-center" href="{% url 'payslips-dashboard-page' %}"><h4>See recent reports</h4></a>
                        <hr>
                        <!--Text-->
                        <p class="card-text">you can have a quick look of details about the payslips history which are recently forwarded.</p>
                        <p class="card-text text-center medium-content">(OR)</p>
                    </div>
                    <div class="card-block">
                        <div class="text-center regular-content">
                            <a class="btn btn-outline-default">Go to full dashboard</a>
                        </div>
                    </div>
                </div>
                <!--/.Card-->
            </div>
        </div>
    </div>
{% endblock project_content %}