<div class="row set-height" id="tableContainer" style="display: none;">
    <div class="lg-12 sm-12 table">
        <table id="paySlipsPreviewTable" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>employee name</th>
                <th>employee number</th>
                <th>email id</th>
                <th>grossEarnings</th>
                <th>totalNetPay</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div class="text-center">
            <a class="btn btn-outline-default click-to-send">CLICK TO SEND PAYSLIPS</a>
        </div>
    </div>
</div>